/*
/*/
*.log
!/.gitignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
inst/doc
!/vignettes/
.Rproj.user
!/.Rbuildignore
doc
Meta
/vignettes/png
!/.lintr
/.vscode
